---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Skills from "../components/Skills.astro"
import Proyectos from "../components/Proyectos.astro"
import Footer from "../components/Footer.astro"
---

<Layout title="Portafolio | Angel Bernal">
  <main>
    <Header />
    <Hero />
    <Skills />
    <Proyectos />
    <Footer />
  </main>
</Layout>

<style>
  main {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
  }
</style>
