---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Main from "../components/Main.astro";
import Skills from "../components/Skills.astro";
import Proyectos from "../components/Proyectos.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Portafolio | Angel Bernal">
  <main>
    <Header />
    <Main />
    <Skills />
    <Proyectos />
    <Footer />
  </main>
</Layout>
