---

---

<header
  class="mt-4 flex flex-col md:flex-row items-center justify-around p-4 flex-wrap gap-y-2 md:gap-x-2"
>
  <img src="/image2.png" alt="Angel Bernal" class="size-12 md:size-16" />

  <nav
    class="flex flex-row flex-wrap md:flex-row gap-4 items-center justify-around md:justify-center"
  >
    <a
      href="#skills"
      class="font-medium text-xs md:text-sm hover:text-blue-400 transition duration-300 hover:scale-105 p-2"
      >Habilidades<span class="text-blue-800 font-bold">.</span></a
    >
    <a
      href="#proyectos"
      class="font-medium text-xs md:text-sm hover:text-blue-400 transition duration-300 hover:scale-105 p-2"
      >Proyectos<span class="text-blue-800 font-bold">.</span></a
    >
    <a
      href="#footer"
      class="font-medium text-xs md:text-sm hover:bg-blue-400 bg-blue-800 p-2 rounded-full transition duration-300 hover:scale-105"
      >Contacto</a
    >
  </nav>
</header>
