---
import MenuH from "../components/MenuH.astro";
import Close from "../components/Close.astro";
---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const abrir = document.getElementById("abrir");
    const menu = document.querySelector(".menu");
    const close = document.getElementById("close");
    const quitarM = document.querySelectorAll(".quitarM");

    abrir.addEventListener("click", function () {
      menu.classList.remove("menu");
    });

    close.addEventListener("click", function () {
      menu.classList.add("menu");
    });

    quitarM.forEach(function (quitarM) {
      quitarM.addEventListener("click", function () {
        menu.classList.add("menu");
      });
    });
  });
</script>

<header class="flex flex-wrap items-center justify-between p-4" id="inicio">
  <img src="/image.png" alt="logo" class="size-14" />
  <MenuH />
  <nav
    class="menu flex flex-wrap justify-center gap-14 items-center text-white text-sm flex-col fixed top-0 right-0 left-0 bottom-0 py-14 px-10 z-10 bg-slate-950"
  >
    <a href="#acerca" class="quitarM transition-all hover:scale-110"
      >Acerca<span class="text-blue-400 font-extrabold">.</span></a
      
    ><a href="#skills" class="quitarM transition-all hover:scale-110"
      >Habilidades<span class="text-blue-400 font-extrabold">.</span></a
    >
    <a href="#proyectos" class="quitarM transition-all hover:scale-110"
      >Proyectos<span class="text-blue-400 font-extrabold">.</span></a
    >
    <a
      href="#contact"
      class="quitarM bg-blue-900 rounded-full p-2 hover:bg-slate-700"
      >Contacto<span class="text-blue-400 font-extrabold">.</span></a
    >
    <Close />
  </nav>
</header>

<style>
  .menu {
    display: none;
  }
</style>
