<a
  class="flex items-center text-xs gap-2 p-2 rounded-full bg-blue-950 hover:bg-blue-800 transition-all hover:scale-110 text-white font-bold"
  target="_blank"
  {...Astro.props}
>
  <slot />
</a>